.black{
  background-image: url("../../assets/img/bg2.png");
  background-size: cover;
  width: 30px;
  float: left;
  height: 30px;
}
.white{
  background-image: url("../../assets/img/bg1.png");
  background-size: cover;
  width: 30px;
  float: left;
  height: 30px;
}
.empty{
  background-image: url("../../assets/img/bg.png");
  background-size: cover;
  width: 30px;
  float: left;
  height: 30px;
}
.over{
  background: rgba(0,0,0,.1);
  width: 100%;
  z-index: 1000;
  height: 10000px;
  position: fixed;
  top: 0;
  left: 0;
  div{
    background: white;
    margin-top: 100px;
    width: 203px;
    padding: 20px;
  }
}
